* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
}
body {
    font-size: 1.6rem;
}
.page {
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    height: 100%;
}
h1 {
    width: min(1216px, 100%); 
    margin: 3.6rem auto;
}
header {
    display: flex;
    flex-direction: row;
    width: min(1216px, 100%);
    margin: auto;
    gap: 7.575rem;
    height: 8rem;
    padding: 1.6rem 0;
    align-items: center;
    animation-name: drop-header;
    animation-duration: 1s;
}
@keyframes drop-header {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
header img {
    height: 4rem;
    width: 4rem;
}
nav {
    display: flex;
    align-items: center;
    gap: 7.575rem;
}
nav a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%;
    color: #8D8D99;
}
form {
    width: 100%;
}
input {
    height: 4.8rem;
    padding: 1.6rem;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
}
input::placeholder {
    font-family: "Mulish", sans-serif;
    opacity: 0.56;
}
#eu {
    border-radius: 50%;
}
main {
    background: #F5F5F5;
    padding-bottom: 6.42rem;
    /* overflow: auto;
    scrollbar-gutter: stable both-edges; */
}
.container {
    display: grid;
    
    width: min(1216px, 100%);
    margin: auto;
}
main .container {
    display: grid;
    grid-template-columns: repeat(3, 39rem);
    column-gap: 2.08rem;
    grid-template-rows: repeat(3, 28.8rem);
    row-gap: 2.22rem;
}
.card {
    background-color: white;
    border-radius: 0.756rem;
    /* overflow: hidden; */
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
    }
}

.card img {
    aspect-ratio: 16/9;
    display: block;
    border-radius: 0.756rem 0.756rem 0 0;
}
.card img:hover {
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    cursor: pointer;
    transform: scale(1.01);
    transition-property: transform;
    transition-duration: 0.5s;
    animation-name: shadow;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes shadow {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      }
}

.card-text {
    display: flex;
    flex-direction: column;
    height: 9.38rem;
    justify-content: center;
    padding: 2.269rem;
    gap: 1.2rem;
}
h2 {
    font-size: 1.8909rem;
    font-weight: 700;
    line-height: 100%;
    color: #202024;
}
.card p {
    /* padding: 0.756rem; */
    background-color: #F5F5F5;
    border-radius: 0.5673rem;
    font-size: 1.1345rem;
    font-weight: 400;
    line-height: 160%;
    width: 3.8rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202024;
}
footer {
    height: 6.9rem;
    align-items: center;
    justify-items: center;
}

